<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dizhonghai_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{126,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,32},{126,82}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>dizhonghai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,138},{126,82}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,31},{126,82}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>dizhonghai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{126,82}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,31},{126,82}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>dizhonghai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,134}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,4},{192,134}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>dizhonghai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{58,40}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,50},{58,40}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dizhonghai_fish.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94c65d80497f895c470881528ca959c2$</string>
            <key>textureFileName</key>
            <string>dizhonghai_fish.png</string>
        </dict>
    </dict>
</plist>
