<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhiyu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{166,68}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,41},{166,68}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>zhiyu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,116},{166,68}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,41},{166,68}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>zhiyu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{166,68}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,41},{166,68}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>zhiyu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,106}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{194,106}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>zhiyu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{112,40}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,55},{112,40}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhiyu.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e32f2782ffd3255c9ad7d6e9cc123484$</string>
            <key>textureFileName</key>
            <string>zhiyu.png</string>
        </dict>
    </dict>
</plist>
