<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dabaisha_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{244,100}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{244,100}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>dabaisha_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,104},{244,100}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{244,100}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>dabaisha_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{244,100}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{244,100}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>dabaisha_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,136}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{260,136}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>dabaisha_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,206},{194,86}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{194,86}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dabaisha.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51ef8ce6df78c00feac9419b2bf8c95c$</string>
            <key>textureFileName</key>
            <string>dabaisha.png</string>
        </dict>
    </dict>
</plist>
