<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>youzhanaiyu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{200,108}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{200,108}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>youzhanaiyu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{200,108}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{200,108}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>youzhanaiyu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,108}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{200,108}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>youzhanaiyu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{160,104}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,17},{160,104}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>youzhanaiyu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,332},{80,70}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,35},{80,70}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>youzhanaiyu.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab2e50638c5327b4929ec68f865cde13$</string>
            <key>textureFileName</key>
            <string>youzhanaiyu.png</string>
        </dict>
    </dict>
</plist>
