<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daxiyangqiyu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{250,126}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{250,126}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>daxiyangqiyu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,130},{250,126}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{250,126}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>daxiyangqiyu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{250,126}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{250,126}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>daxiyangqiyu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,134}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{256,134}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>daxiyangqiyu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,138},{214,122}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,7},{214,122}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daxiyangqiyu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a50a2ebcb46ee4c6774bd66b168e46cd$</string>
            <key>textureFileName</key>
            <string>daxiyangqiyu.png</string>
        </dict>
    </dict>
</plist>
