<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dazhangyu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{232,114}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{232,114}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>dazhangyu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,118},{232,114}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{232,114}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>dazhangyu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{232,114}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{232,114}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>dazhangyu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,132}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{232,132}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
            <key>dazhangyu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{156,80}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,35},{156,80}}</string>
                <key>sourceSize</key>
                <string>{264,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dazhangyu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a5eee224213b0985855f95a10eabab9$</string>
            <key>textureFileName</key>
            <string>dazhangyu.png</string>
        </dict>
    </dict>
</plist>
